<div class="$ctrl.group.formatClasses()" ng-if="$eval($ctrl.group.ifClause)" layout="$ctrl.group.layout" layout-align="$ctrl.group.layoutAlign" ng-repeat="(sectionID, section) in $ctrl.group.sections">
	<gui-group ng-if="$ctrl.group.type == 'guiGroup'" group="$ctrl.group.sections[sectionID]"></gui-group>
	<menu ng-if="$ctrl.group.type == 'menu'" menu="$ctrl.group.sections[sectionID]"></menu>
	<text-button ng-if="$ctrl.group.type == 'textBtn'" range="$ctrl.group.sections[sectionID]"></text-button>
	<icon-button ng-if="$ctrl.group.type == 'iconBtn'" button="$ctrl.group.sections[sectionID]"></icon-button>
	<number-input ng-if="$ctrl.group.type == 'numInput'" range="$ctrl.group.sections[sectionID]"></number-input>
	<slide-measure ng-if="$ctrl.group.type == 'slideMeasure'" slider="$ctrl.group.sections[sectionID]"></slide-measure>
	<range-measure ng-if="$ctrl.group.type == 'rangeMeasure'" range="$ctrl.group.sections[sectionID]"></range-measure>
	<select-display ng-if="$ctrl.group.type == 'select'" range="$ctrl.group.sections[sectionID]"></select-display>
	<accordion ng-if="$ctrl.group.type == 'accordTab'" range="$ctrl.group.sections[sectionID]"></accordion>
</div>