<h2><i>Single Run Summary</i></h2>
<md-content class="summaryContent">
    <h6>Gerrymandering Scores</h6>
    <div>
        Before: <span>{{$ctrl.scoreBefore}}</span><br />
        After: <span>{{$ctrl.scoreAfter}}</span><br />
    </div>
    <h6>Amount of Gerrymandering</h6>
    <div class="gerryTable" layout="row" layout-wrap>
        <span flex="20"></span><h7 flex="40">Number of Voters</h7><h7 flex="40">Likely Seat Percentage</h7>
        <span flex="20"></span><h7 flex="20">Republican</h7><h7 flex="20">Democrat</h7><h7 flex="20">Republican</h7><h7 flex="20">Democrat</h7>
        <h7 flex="20">State</h7><span flex="20">{{formatNumber($ctrl.stateStat.totalRepVotes)}}</span><span flex="20">{{formatNumber($ctrl.stateStat.totalDemoVotes)}}</span>
        <span flex="20">{{formatPercent($ctrl.stateStat.likelyRepSeats)}}</span><span flex="20">{{formatPercent($ctrl.stateStat.likelyDemoSeats)}}</span>
        <h7 flex="20">Actual</h7><span flex="20">{{formatNumber($ctrl.actualStat.totalRepVotes)}}</span><span flex="20">{{formatNumber($ctrl.actualStat.totalDemoVotes)}}</span>
        <span flex="20">{{formatPercent($ctrl.actualStat.likelyRepSeats)}}</span><span flex="20">{{formatPercent($ctrl.actualStat.likelyDemoSeats)}}</span>
        <h7 ng-repeat-start="(districtID, poliStat) in $ctrl.districtStat" flex="20">District {{districtID}}</h7>
        <span flex="20">{{formatNumber(poliStat.totalRepVotes)}}</span><span flex="20">{{formatNumber(poliStat.totalDemoVotes)}}</span><span flex="20">N/A</span><span flex="20" ng-repeat-end>N/A</span>
    </div>
</md-content>
<md-button ng-click="AlgorithmService.saveMap()" ng-disabled="username === ''">
    <md-label>Save map</md-label>
    <md-tooltip ng-if="username === ''" md-direction="bottom">Log in to use this feature</md-tooltip>
</md-button>
<md-button ng-click="AlgorithmService.finishSingleRun()">
    <md-label>Done</md-label>
</md-button>
