<h4>Single Run Summary</h4><br />
<h6>Gerrymandering Scores</h6>
Before: <span>{{$ctrl.gerryBefore}}</span><br />
After: <span>{{$ctrl.gerryAfter}}</span><br />
<h6>Amount of Gerrymandering</h6>
<div layout="row">
    <h7 flex="20"></h7><h7 flex="40">Number of Voters</h7><h7 flex="40">Likely Seat Percentage</h7>
    <h7 flex="20"></h7><h7 flex="20">Republican</h7><h7 flex="20">Democrat</h7><h7 flex="20">Republican</h7><h7 flex="20">Democrat</h7>
    <h7 flex="20">State</h7>
    <h7 flex="20">Actual</h7>
</div>